body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
 
header {
  padding: 0.3rem;
  background-color: #800000;
  color: white;
}

header .container {
  display: flex;
  align-items: center;
  
}

.container .title {
  flex: 1;
  
}

.container .title h1 {
  font-size: 2.5rem;
  text-shadow: 0.531rem 0.531rem 0.25rem rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease-in-out;
}

.logo img {
  width: 10rem;
}

header .title {
  display: flex;
  justify-content: end;
  margin-right: 1rem;
}

header .home img {
  position: relative;
  top: 3.75rem;
  right: 5.125rem;
  width: 2.5rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
}

main .map-container img {
  position: absolute;
  top: 7.688rem;
  right: 10.625rem;
  width: 2.813rem;
}

main .map-container h1 {
  text-align: center;
  font-size: 1.7rem;
  text-shadow: 0.375rem 0.375rem 0.375rem rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease-in-out;
  margin-left: 0.125rem;
  margin-top: -2.813rem;
}

main .chart-container .title {
  position: absolute;
  font-size: 1.5rem;
  width: 25rem;
  /* height: 35px; */
  left: 48.781rem;
  text-align: center;
  /* margin-bottom: 15rem; */
  background-color: #800000;
  color: white;
  top: 12.313rem;
  padding: 0.375rem;

}

main .chart-container {
  width: 60%;
  max-width: 500px;
  height: 15.625rem;
  margin-top: 15.813rem;
}

#myChart {
  width: 100%;
  height: 100%;
}

main .chart-container img {
  position: relative;
  top: -3.75rem;
  left: -49.063rem;
  width: 11rem;
  transform: rotate(180deg);
}

main #map {
  width: 36rem;
  height: 21.875rem;
  margin: auto;
  margin-left: 1.5rem;
  margin-top: 1.25rem;
}

footer {
  margin-top: -2.281rem;
  padding: 0.1rem;
  font-size: 1rem;
  text-align: center;
  background-color: #800000;
  color: white;
}

canvas {
  position: absolute;
  top: 21rem;
  right: 1.875rem;
}

@media only screen and (max-width: 720px){\
  body {
    max-width: 600px;
  }

  header {
    padding: 0.5rem;
    margin-bottom: 2rem;
    background-color: #800000;
    color: white;
  }

  header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } 

  .container .title h1 {
    font-size: 1rem;
    text-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease-in-out;
    margin-left: -1rem;
  }

  .logo img {
    width: 4.5rem;
    margin-right: 1rem;
  }

  header .home img {
    position: relative;
    top: 1.25rem;
    left: -0.313rem;
    width: 1.5rem;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .map-container img {
    position: absolute;
    top: 3.4rem;
    right: 2.813rem;
    width: 1.6rem;

  }

  main .map-container h1 {
    margin-left: -0.1rem;
    font-size: 1.3rem;
    text-shadow: 0.375rem 0.375rem 0.375rem rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease-in-out;
    margin-top: -1rem;

  }

  main #map {
    width: 90%;
    height: 18.75rem;
    margin-top: 1.5rem;
    right: 1.5rem;

  }

  main .chart-container .title {
    position: absolute;
    font-size: 1.3rem;
    margin: 3rem 0;
    padding: 0.5rem; 0.313rem;
    background-color: #800000;
    color: white; 
    text-align: center;
    width: 15.625rem;
    border: 0.313rem; solid:#800000;
    top: 30rem;
    left: 4rem;

  }

  main .chart-container {
  width: 23rem;
  max-width: 500px;
  height: 15.625rem;
  margin-top: 15.625rem;
}

#myChart {
  width: 100%;
  height: 100%;
}
  
  main .chart-container img {
    position: relative;
    top: -15.1rem;
    width: 8rem;
    left: -2.1rem;
  }

  footer {
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    background-color: #800000;
    color: white;
    margin-top: -7rem;
  }

  canvas {
    position: absolute;
    top: 39rem;
    right: -0.7rem;
    max-width:500px;
  }


}